<!DOCTYPE html>
<html class="corpo">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Conceitos MVC</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body class="corpo">
    <div class="navbar navbar-inverse navbar-fixed-top bg-custom-2" style="background-color: #91a6f6; height:55px!important">
        <div class="container">
            <div class="navbar-header" style="margin-left:-100px">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Conceitos MVC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse texto">
                <ul class="nav navbar-nav">
                    <li class="texto">
                        @Html.ActionLink("Gestão de Clientes", "Index", "Clientes")
                    </li>
                    <li>
                        @Html.ActionLink("Gestão de Produtos", "Index", "Produtos")
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @*Tudo html, apenas aqui temos o MVC*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <br />
        <footer class="border-top footer text-muted" style="text-align: center;">
            <div class="container">
                <p style="color:black">&copy; @DateTime.Now.Year - Conceitos MVC - Gisele da Silva Cidral</p>
            </div>
                </footer>
    </div>

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

