@model IEnumerable<Projeto01.ConceitosMVC.Models.Cliente>
@{
    ViewBag.Title = "Listar";
}
@* Layout da tabela *@
<center>
    <h2 class="titulo">Lista de Clientes</h2>
    <table border="1" class="table-responsive" id="tabela">
        <tr style="text-align: center; font-weight: bold">
            <td>CPF</td>
            <td>Nome</td>
            <td>Data de Nascimento</td>
            <td>UF</td>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="text-align: center">
                <td>@item.Cpf</td>
                <td>@item.Nome</td>
                <td>@item.DataNascimento</td>
                <td>@item.UfResidencia</td>
            </tr>
        }
    </table>
</center>

<a>@Html.ActionLink("Voltar", "Index", "Clientes")</a>
